requests==2.26.0
beautifulsoup4==4.10.0
mock==5.1.0
unstructured==0.10.25
typing_extensions==4.8.0
typing-inspect==0.9.0
langchain==0.0.320
tiktoken==0.5.1
google-cloud-storage==2.12.0
google-cloud==0.34.0
python-magic==0.4.24
google-cloud-aiplatform==1.35.0
google-api-python-client==2.106.0
urllib3==2.0.7
youtube_transcript_api==0.6.1
