.custom-slider::-webkit-slider-thumb {
  appearance: none;
  width: 25px; /* Example size */
  height: 25px; /* Example size */
  background: #4A5568; /* Example color */
  cursor: pointer;
  border-radius: 50%;
}

.custom-slider::-moz-range-thumb {
  width: 25px; /* Example size */
  height: 25px; /* Example size */
  background: #4A5568; /* Example color */
  cursor: pointer;
  border-radius: 50%;
}

/* You might also want to style the track */
.custom-slider::-webkit-slider-runnable-track {
  width: 100%;
  height: 8px;
  background: #a0aec0;
  border-radius: 4px;
}

.custom-slider::-moz-range-track {
  width: 100%;
  height: 8px;
  background: #a0aec0;
  border-radius: 4px;
}